# Default ignored files
/shelf/
/workspace.xml


.DS_Store
Thumbs.db
*.log


*.iml
.idea/
*.swp
*.swo
.vscode/


*.class
*.jar
*.war
*.ear


/build/
out/
target/


.mvn/
.gradle/
**/build/
**/target/
!**/src/**/build/


logs/
hs_err_pid*.log


*.cache
*.lock
*.tmp


pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


.gradle/
gradle-app.setting
gradle-wrapper.jar
.gradle-local-cache/


*.classpath
*.project
*.settings/
bin/


libs/


.gitignore~